body {
    margin: 0;
    color: black;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}

/*********** HEADER ************/

header {
    text-align: center;
    padding: 70px;
    background-color: #800020;
    color: white;
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 0;
}


h1 {
    margin: 0;
    text-align: left;
}



#welcomeHead {
    padding: 3px;
    background-color: #800020;
    color: white;
    font-family: 'Roboto Slab', serif;
}






/*********** LISTS ************/
#logins {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding-top: 10px;
}

.list {
    padding: 50px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.list-title {
    margin-left: 20px;
}


.list a {
    color: black;
    text-decoration: none;
}





/*********** Links ************/
a:link, a:visited {
  background-color: gray;
  color: white;
  padding: 7px 15px;
  text-align: center;
}

a:hover, a:active {
  background-color: #800020;
}